

.p-breadcrumb {
  position: sticky;
  top: 64px;
  z-index: 1;
  padding: 8px 0;
  list-style: none;
  background-color: #f0f0f0;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__list {
    margin-right: 20px;
    font-size: 12px;
    &:first-child {
      &::after {
        content: ">";
        margin-left: 20px;
      }
    }
  }
}