@use '../foundation/color';
@use '../foundation/base';

.p-fv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: url("../image/hero.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &__title {
    text-align: center;
    &--large {
      font-size: 4.5rem;
      font-weight: 700;
      color: color.$whiteColor;
      margin-bottom: 20px;
    }
    &--small {
      font-size: 1.5rem;
      color: color.$whiteColor;
      margin-bottom: 40px;
    }
  }
  &__scroll-arrow {
    position: absolute;
    writing-mode: vertical-lr;
    padding: 10px 10px 90px;
    bottom: 0;
    right: 20px;
    letter-spacing: 0.2em;
    font-size: 0.75rem;
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 80px;
      background: #fff;
      content: "";
      -webkit-animation: sdl 1.5s infinite;
      animation: sdl 1.5s infinite;
    }
    @keyframes sdl {
      0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
      }
      50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
      }
      50.1% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
      }
      100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
      }
    }
    
  }
}