.p-service {
  width: 100%;
  padding: 70px 0;
  &__inner {
  }
  &__head {
    text-align: center;
    margin-bottom: 30px;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__button {
    text-align: center;
  }
}