@use '../foundation/color';

.c-button {
  border-radius: 50px;
  &--white {
    background-color: transparent;
    border: 1px solid color.$whiteColor;
    transition: 0.3s;
    width: 220px;
    padding: 15px 0px;
    font-weight: 700;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 22px;
      right: 20px;
      transition: 0.3s;
      border-style: solid;
      border-width: 6px 0 6px 10.4px;
      border-color: transparent transparent transparent color.$whiteColor;
    }
    &:hover {
      opacity: 0.8;
      &::after {
        right: 15px;
      }
    }
  }
  &--purple {
    background-size: 200% auto;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
    color: color.$whiteColor;
    transition: 0.3s;
    width: 220px;
    padding: 10px 0px;
    font-weight: 700;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 18px;
      right: 20px;
      transition: 0.3s;
      border-style: solid;
      border-width: 6px 0 6px 10.4px;
      border-color: transparent transparent transparent color.$whiteColor;
    }
    &:hover {
      background-position: right center;
      &::after {
        right: 15px;
      }
    }
  }
}